*~
*.[oa]
*.cm[oaix]
*.cmxa
*.so
*.dll
*.byte
*.opt
*.annot
*.cmt
*.cmti
a.out
.depend

# autoconf
autom4te.cache
#configure

# configure
/src/config.h
/Makefile.config
META
config.log
config.status

#build
/build/
yices/
_build
