language: c

install:
  - sudo add-apt-repository -y ppa:$PPA
  - sudo apt-get update -qq
  # if NOGPERF is not defined, ${NOGPERF:+gperf} will expand to nothing
  - sudo apt-get install -qq ${NOGPERF:+gperf}
  - opam init -y
  - eval `opam config env`
  - opam install -y ocamlfind zarith

script:
  - bash -ex .travis-script.sh
env:
  - PPA=avsm/ocaml312+opam12
  - PPA=avsm/ocaml40+opam12
  - PPA=avsm/ocaml41+opam12
  - PPA=avsm/ocaml42+opam12
  - PPA=avsm/ocaml42+opam12 NOGPERF=1
